/ {
    combos {
        compatible = "zmk,combos";

        COMBO(printscreen, &kp PSCRN, 0 13, 1)
        COMBO(ctrl_alt_del, &kp LC(LA(DEL)), 0 13, 0)
        COMBO(toggle_layer_5, &to 5, 57 59, 0)
        COMBO(toggle_layer_0, &to 0, 57 59, 5)
    };
};