#define DOUBLE_TAP_GUARD(NAME, BINDING) \
/ { \
  behaviors { \
    NAME: NAME { \
      compatible = "zmk,behavior-tap-dance"; \
      #binding-cells = <0>; \
      tapping-term-ms = <U_TAPPING_TERM>; \
      bindings = <&none>, <BINDING>; \
    }; \
  }; \
};

DOUBLE_TAP_GUARD(u_bootloader, &bootloader)

DOUBLE_TAP_GUARD(u_to_U_BASE, &to BASE)
DOUBLE_TAP_GUARD(u_to_U_EXTRA, &to EXTRA)
DOUBLE_TAP_GUARD(u_to_U_TAPL, &to TAPL)

