#define ZMK_POINTING_DEFAULT_MOVE_VAL 600  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 35    // 10

#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>


#define QWERTY      0
#define COLEMAKDH   1

#define BASE        QWERTY
#define EXTRA       COLEMAKDH

#define NUMBER      2
#define SYMB        3
#define FUNC        4

#define NAVI        5
#define MOUSE       6 
#define MEDIA       7

#define BUTTON      8

#include "define.h"


#include "combo.h"
#include "combo.dtsi"

#include "behaviour.h"
#include "behaviour.dtsi"

#include "doubletap_guard.dtsi"

#include "mouse.h"
#include "mouse.dtsi"
#include "scroller.dtsi"

#include "shift_function.h"
#include "shift_function.dtsi"

#include "clipboard.h"

#define U_NA &none
#define U_BOOT &u_bootloader


/ {

    keymap {
        compatible = "zmk,keymap";

        layer_0_qwerty {
            bindings = <
&kp ESC           &kp N1              &kp N2             &kp N3             &kp N4             &kp N5             &kp UP             &kp N6             &kp N7             &kp N8             &kp N9             &kp N0               &kp BACKSPACE 
&kp TAB           &kp Q               &kp W              &kp E              &kp R              &kp T              &kp DOWN           &kp Y              &kp U              &kp I              &kp O              &kp P                &kp BACKSLASH
&kp LSHFT         U_HML(LGUI, A)      U_HML(LALT, S)     U_HSL(LSHFT, D)    U_HML(LCTRL, F)    &kp G              &kp LEFT           &kp H              U_HMR(RCTRL, J)    U_HSR(RSHFT, K)    U_HMR(RALT, L)     U_HMR(RGUI, SQT)     &kp SEMI
&kp LCTRL         U_LT(BUTTON, Z)     &kp X              &kp C              &kp V              &kp B              &kp RIGHT          &kp N              &kp M              &kp COMMA          &kp PERIOD         U_LT(BUTTON, SLASH)  &kp RET
&kp C_MUTE        &kp LGUI            &kp LALT           U_LT(MEDIA, ESC)   U_LT(NAVI, TAB)    U_LT(MOUSE, DEL)   &kp RET            U_LT(SYMB, SPACE)  U_LT(NUMBER, RET)  U_LT(FUNC, BSPC)   &kp MINUS          &kp EQUAL   
            >;

            display-name = "QWERTY";
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            
        };

        layer_1_colemak_dh {
            bindings = <
&kp ESC            &kp N1             &kp N2             &kp N3             &kp N4             &kp N5             &kp UP             &kp N6             &kp N7             &kp N8             &kp N9             &kp N0               &kp BACKSPACE 
&kp TAB            &kp Q              &kp W              &kp F              &kp P              &kp B              &kp DOWN           &kp J              &kp L              &kp U              &kp Y              &kp SQT              &kp BACKSLASH
&kp LSHFT          U_HML(LGUI, A)     U_HML(LALT, R)     U_HSL(LSHFT, S)    U_HML(LCTRL, T)    &kp G              &kp LEFT           &kp M              U_HMR(RCTRL, N)    U_HSR(RSHFT, E)    U_HMR(RALT, I)     U_HMR(RGUI, O)       &kp SEMI
&kp LCTRL          U_LT(BUTTON, Z)    &kp X              &kp C              &kp D              &kp V              &kp RIGHT          &kp K              &kp H              &kp COMMA          &kp PERIOD         U_LT(BUTTON, SLASH)  &kp RET
&kp C_MUTE         &kp LGUI           &kp LALT           U_LT(MEDIA, ESC)   U_LT(NAVI, TAB)    U_LT(MOUSE, DEL)   &kp RET            U_LT(SYMB, SPACE)  U_LT(NUMBER, RET)  U_LT(FUNC, BSPC)   &kp MINUS          &kp EQUAL   
            >;
 
            display-name = "COLEMAK";
            sensor-bindings = <&scroll_encoder>;
        };

        layer_2_number {
            bindings = <
U_NA        U_NA       U_NA    U_NA     U_NA    U_NA       &kp UP_ARROW     U_NA  U_NA               U_NA               U_NA       U_NA      U_NA
U_NA        &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT   &kp DOWN_ARROW   U_NA  &u_to_U_BASE       &u_to_U_EXTRA      U_NA       U_BOOT    U_NA
U_NA        &kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL  &kp LEFT_ARROW   U_NA  &kp RCTRL          &kp RSHFT          &kp RALT   &kp RGUI  U_NA
U_NA        &kp GRAVE  &kp N1  &kp N2   &kp N3  &kp BSLH   &kp RIGHT_ARROW  U_NA  U_NA               U_NA               U_NA       U_NA      U_NA
&kp C_MUTE  U_NA       U_NA    &kp DOT  &kp N0  &kp MINUS  &kp ENTER        U_NA  U_NA               U_NA               U_NA       U_NA                
            >;

            display-name = "NUMBER";
            sensor-bindings = <&scroll_encoder>;
        };

        layer_3_symbol {
            bindings = <
U_NA               U_NA               U_NA               U_NA               U_NA               U_NA               &kp UP             U_NA               U_NA               U_NA               U_NA               U_NA              U_NA
U_NA               &kp LBRC           &kp AMPS           &kp ASTRK          &kp LPAR           &kp RBRC           &kp DOWN           U_NA               &u_to_U_BASE       &u_to_U_EXTRA      U_NA               U_BOOT            U_NA
U_NA               &kp COLON          &kp DLLR           &kp PRCNT          &kp CARET          &kp PLUS           &kp LEFT           U_NA               &kp RCTRL          &kp RSHFT          &kp RALT           &kp RGUI          U_NA
U_NA               &kp TILDE          &kp EXCL           &kp AT             &kp HASH           &kp PIPE           &kp RIGHT          U_NA               U_NA               U_NA               U_NA               U_NA              U_NA
&kp C_MUTE         U_NA               U_NA               &kp LPAR           &kp RPAR           &kp UNDER          &kp ENTER          U_NA               U_NA               U_NA               U_NA               U_NA                
            >;

            display-name = "SYMBOL";
            sensor-bindings = <&scroll_encoder>;
        };

        layer_4_func {
            bindings = <
U_NA               U_NA               U_NA               U_NA               U_NA               U_NA               &kp UP             U_NA               U_NA               U_NA               U_NA               U_NA              U_NA
U_NA               &kp F12            &kp F7             &kp F8             &kp F9             &kp PSCRN          &kp DOWN           U_NA               &u_to_U_BASE       &u_to_U_EXTRA      U_NA               U_BOOT            U_NA
U_NA               &kp F11            &kp F4             &kp F5             &kp F6             &kp SLCK           &kp LEFT           U_NA               &kp RCTRL          &kp RSHFT          &kp RALT           &kp RGUI          U_NA
U_NA               &kp F10            &kp F1             &kp F2             &kp F3             &kp PAUSE_BREAK    &kp RIGHT          U_NA               U_NA               U_NA               U_NA               U_NA              U_NA
&kp C_MUTE         U_NA               U_NA               &kp K_APP          &kp TAB            &kp DEL            &kp ENTER          U_NA               U_NA               U_NA               U_NA               U_NA                
            >;

            display-name = "FUNC";
            sensor-bindings = <&scroll_encoder>;
        };


        layer_5_navi {
            bindings = <
U_NA        U_NA      U_NA      U_NA               U_NA               U_NA  &kp UP_ARROW     U_NA          U_NA      U_NA       U_NA        U_NA       U_NA
U_NA        U_BOOT    U_NA      &u_to_U_EXTRA      &u_to_U_BASE       U_NA  &kp DOWN_ARROW   U_RDO         U_PST     U_CPY      U_CUT       U_UND      U_NA
U_NA        &kp LGUI  &kp LALT  &kp LSHFT          &kp LCTRL          U_NA  &kp LEFT_ARROW   &u_caps_word  &kp LEFT  &kp DOWN   &kp UP      &kp RIGHT  U_NA
U_NA        U_NA      U_NA      U_NA               U_NA               U_NA  &kp RIGHT_ARROW  &kp INS       &kp HOME  &kp PG_DN  &kp PG_UP   &kp END    U_NA
&kp C_MUTE  U_NA      U_NA      U_NA               U_NA               U_NA  &kp ENTER        &kp RET       &kp DEL   &kp BSPC   U_NA        U_NA                
            >;

            display-name = "NAVI";
            sensor-bindings = <&scroll_encoder>;
        };

        layer_6_mouse {
            bindings = <
U_NA        U_NA      U_NA      U_NA               U_NA              U_NA  U_MS_U   U_NA       U_NA       U_NA       U_NA      U_NA    U_NA
U_NA        U_BOOT    U_NA      &u_to_U_EXTRA      &u_to_U_BASE      U_NA  U_MS_D   U_RDO      U_PST      U_CPY      U_CUT     U_UND   U_NA  
U_NA        &kp LGUI  &kp LALT  &kp LSHFT          &kp LCTRL         U_NA  U_MS_L   U_NA       U_MS_L     U_MS_D     U_MS_U    U_MS_R  U_NA
U_NA        U_NA      U_NA      U_NA               U_NA              U_NA  U_MS_R   U_NA       U_WH_L     U_WH_D     U_WH_U    U_WH_R  U_NA
&kp C_MUTE  U_NA      U_NA      U_NA               U_NA              U_NA  U_BTN1   U_BTN1     U_BTN2     U_BTN3     U_NA      U_NA
            >;

            display-name = "MOUSE";
            sensor-bindings = <&scroll_encoder>;
        };

        layer_7_media {
            bindings = <
U_NA              U_NA          U_NA          U_NA               U_NA               U_NA               &rgb_ug RGB_HUI    U_NA               &rgb_ug RGB_EFR    U_NA               U_NA               U_NA               U_NA
U_NA              U_BOOT        U_NA          &u_to_U_EXTRA      &u_to_U_BASE       U_NA               &rgb_ug RGB_HUD    &rgb_ug RGB_TOG    &rgb_ug RGB_EFF    U_RGB_HUI          U_RGB_SAI          U_RGB_SPI          U_NA
U_NA              &kp LGUI      &kp LALT      &kp LSHFT          &kp LCTRL          U_NA               &rgb_ug RGB_SAI    U_EP_TOG           &kp C_PREV         &kp C_VOL_DN       &kp C_VOL_UP       &kp C_NEXT         U_NA
U_NA              U_NA          U_NA          U_NA               U_NA               U_NA               &rgb_ug RGB_SAD    &u_out_tog         &u_bt_sel_0        &u_bt_sel_1        &u_bt_sel_2        &u_bt_sel_3        &u_bt_sel_4
&kp C_MUTE        U_NA          U_NA          U_NA               U_NA               U_NA               U_RGB_TOG          &kp C_STOP         &kp C_PP           &kp C_MUTE         U_NA               U_NA                
            >;

            display-name = "MEDIA";
            sensor-bindings = <&rgb_encoder>;
        };


        layer_8_button {
            bindings = <
U_NA               U_NA               U_NA               U_NA               U_NA               U_NA               &kp UP             U_NA               U_NA               U_NA               U_NA               U_NA              U_NA
U_NA               U_UND              U_CUT              U_CPY              U_PST              U_RDO              &kp DOWN           U_RDO              U_PST              U_CPY              U_CUT              U_UND             U_NA
U_NA               &kp LGUI           &kp LALT           &kp LSHFT          &kp LCTRL          U_NA               &kp LEFT           U_NA               &kp RCTRL          &kp RSHFT          &kp RALT           &kp RGUI          U_NA
U_NA               U_UND              U_CUT              U_CPY              U_PST              U_RDO              &kp RIGHT          U_RDO              U_PST              U_CPY              U_CUT              U_UND             U_NA
&kp C_MUTE         U_NA               U_NA               U_BTN3             U_BTN2             U_BTN1             &kp ENTER          U_BTN1             U_BTN2             U_BTN3             U_NA               U_NA       
            >;

            display-name = "BUTTON";
            sensor-bindings = <&scroll_encoder>;
        };


    };
};
 
